// Set up base project
@import "reset";
@import "vars";

// Import sections
@import "nav";
@import "cards";

// ****************************
//         MAIN BODY
// ****************************

body {
  font-family: $font-stack;
  background-color: $bg-color;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow-x: hidden;
  height: 100%;
}

p {
  line-height: 1.3;
}

main {
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;

  .hero-container {
    max-width: 100vw;

    .feature {
      width: 100%;

      &-link,
      &-img {
        width: 100%;
      }

      &-text {
        display: grid;
      }

      &-title-link {
        text-decoration: none;
        color: $accent-color;
        padding-inline: 0.3em;
      }

      &-intro {
        padding-inline: 0.3em;
        font-size: 1.8ch;
        margin-top: -1em;
      }

      .cat-title {
        line-height: 2;
        font-size: 1.8ch;
        color: $accent-color;
        margin-bottom: -0.5vh;
        padding-left: 0.3em;
        position: relative;
        margin-top: 20px;
        margin-bottom: 5px;

        &::after {
          content: "";
          position: absolute;
          background-color: $secondary-accent-color;
          width: 40%;
          height: 3px;
          bottom: 0;
          left: 5px;
        }
      }

      .byline {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 50px;
        align-items: center;
        justify-self: end;
        gap: 10px;
        padding-right: 10px;

        .byline-img {
          width: 80%;
          border-radius: 50%;
          grid-column: 1 / 2;
        }

        .byline-author-link {
          text-decoration: none;
          color: black;
          grid-column: 2 / 2;

          .byline-author {
            font-size: 1.5ch;
          }
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  width: 100%;
  grid-row: -1 / -1;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 0;

  .footer-container {
    align-self: center;
    justify-items: center;

    .cat-title {
      line-height: 2;
      font-size: 1.8ch;
      color: $accent-color;
      margin-bottom: -0.5vh;
      padding-left: 0.3em;
      position: relative;
      margin-top: 20px;
      margin-bottom: 5px;

      &::after {
        content: "";
        position: absolute;
        background-color: $secondary-accent-color;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 5px;
      }
    }

    .footer-nav {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      font-size: 1.4ch;
      list-style-type: none;
      margin-left: -35px;
      &-wrapper {
        grid-column: 2 / 3;
      }

      li {
        padding-bottom: 1em;
      }
      a {
        color: white;
        text-decoration: none;

        &:visited {
          color: white;
        }

        &:hover,
        &:focus {
          color: $accent-color;
        }
      }
    }

    .categories-list-wrapper {
      grid-row: 2 / 3;
      white-space: nowrap;
      .cat-list {
        list-style-type: none;
        margin-left: -35px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        font-size: 1.4ch;

        li {
          padding-bottom: 1em;
        }
        a {
          color: white;
          text-decoration: none;

          &:visited {
            color: white;
          }

          &:hover,
          &:focus {
            color: $accent-color;
          }
        }
      }
    }

    .social-links {
      list-style-type: none;
      margin-left: -35px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .social-icon {
        fill: white;

        svg {
          width: 18px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  $gap: 6em;

  main {
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-container {
    .feature {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin-bottom: 1em;

      &-link {
        grid-column: 1 / 5;
        grid-row: 1 / 5;
      }

      &-img {
        width: 100%;
        height: 100%;
        grid-column: 1 / 5;
        grid-row: 1 / 5;
        object-fit: cover;
      }

      &-text {
        grid-column: 2 / 5;
        grid-row: 4 / 5;
        display: grid;
        background-color: rgba($color: $primary-color, $alpha: 0.8);

        .cat-title {
          color: $accent-color;
        }

        .feature-title-link {
          color: white;
          z-index: 100;
          // align-self: end;
          font-size: clamp(1.8rem, 3vw, 2rem);
          text-decoration: none;
        }

        .feature-intro {
          color: white;
          z-index: 100;
          padding: 0 20px;
          margin-top: -1vh;
          font-size: clamp();
        }

        .byline {
          display: grid;
          grid-template-columns: 50px 1fr;
          grid-template-rows: 50px;
          align-items: center;
          justify-self: end;
          gap: 10px;
          padding-right: 10px;

          &-img {
            width: 80%;
            border-radius: 50%;
            grid-column: 1 / 2;
          }

          &-author {
            font-size: 1.5ch;
            color: white;

            &-link {
              text-decoration: none;
              color: white;
              grid-column: 2 / 2;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  width: 100%;
  grid-row: -1 / -1;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 0;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    align-self: center;
    justify-items: center;
    gap: 30px;

    .cat-title {
      line-height: 2;
      font-size: 1.8ch;
      color: $accent-color;
      margin-bottom: -0.5vh;
      padding-left: 0.3em;
      position: relative;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .cat-title::after {
      content: "";
      position: absolute;
      background-color: $secondary-accent-color;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 5px;
    }

    .footer-nav-wrapper {
      grid-column: 2 / 3;
      .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-wrap: wrap;
        font-size: 1.4ch;
        list-style-type: none;
        margin-left: -35px;
        li {
          padding-bottom: 1em;
        }
        a {
          text-decoration: none;

          &:visited {
            color: white;
          }
        }
      }
    }

    .categories-list-wrapper {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      white-space: nowrap;
      .cat-list {
        list-style-type: none;
        margin-left: -35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
        font-size: 1.4ch;

        li {
          padding-bottom: 1em;
        }
        a {
          text-decoration: none;

          &:visited {
            color: white;
          }
        }
      }
    }

    .social-list-wrapper {
      grid-column: 4 / 5;
      .social-links {
        list-style-type: none;
        margin-left: -35px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;

        .social-icon {
          fill: white;

          svg {
            width: 18px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  $gap: 8em;

  .hero-container {
    margin-bottom: 30px;
    width: 100%;

    .feature {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin-bottom: 1em;
      padding-inline: 2vw;

      .cat-title {
        color: $accent-color;
      }

      .feature-link {
        grid-column: 1 / 5;
        grid-row: 1 / 5;

        .feature-img {
          width: 100%;
          height: 100%;
          grid-column: 1 / 5;
          grid-row: 1 / 5;
          object-fit: cover;
        }
      }

      .feature-text {
        grid-column: 2 / 5;
        grid-row: 4 / 5;
        background-color: rgba($color: $primary-color, $alpha: 0.8);
        padding: 0 20px;
      }

      .feature-title {
        color: $accent-color;
        font-size: clamp(2rem, 4vw, 3.5rem);
      }

      .feature-intro {
        color: white;
        // z-index: 100;
        // padding: 0 20px;
        margin-top: -1vh;
      }
    }

    .sub-feature-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 1em;
      padding-inline: 2vw;
      align-items: start;

      .sub-feature {
        img {
          width: 100%;
        }
      }
    }
  }

  footer {
    background-color: $primary-color;
    width: 100%;
    grid-row: -1 / -1;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 0;

    .footer-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      // grid-template-rows: repeat(3, 1fr);
      align-self: center;
      justify-items: center;
      gap: 30px;

      .cat-title {
        line-height: 2;
        font-size: 1.8ch;
        color: $accent-color;
        margin-bottom: -0.5vh;
        padding-left: 0.3em;
        position: relative;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      .cat-title::after {
        content: "";
        position: absolute;
        background-color: $secondary-accent-color;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 5px;
      }

      .footer-nav-wrapper {
        grid-column: 2 / 3;
        .footer-nav {
          display: flex;
          flex-direction: column;
          gap: 15px;
          flex-wrap: wrap;
          font-size: 1.4ch;
          list-style-type: none;
          margin-left: -35px;
          li {
            padding-bottom: 1em;
          }
          a {
            text-decoration: none;

            &:visited {
              color: white;
            }
          }
        }
      }

      .categories-list-wrapper {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        white-space: nowrap;
        .cat-list {
          list-style-type: none;
          margin-left: -35px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          gap: 15px;
          font-size: 1.4ch;

          li {
            padding-bottom: 1em;
          }
          a {
            text-decoration: none;

            &:visited {
              color: white;
            }
          }
        }
      }

      .social-list-wrapper {
        grid-column: 4 / 5;
        .social-links {
          list-style-type: none;
          margin-left: -35px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 15px;

          .social-icon {
            fill: white;

            svg {
              width: 18px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
